.md-header__title {
    margin-left:0;
}


th {
    background: #f1f1f1;
}


.md-typeset .md-button.md-button-sm {
    font-size: 14px;
    margin-bottom:5px;
    padding: 0.525em 0.7em;
}

svg {
    margin:auto;
    display: block;
}